@charset "ISO-8859-1";

		body {
	    font-family: Arial, Helvetica, sans-serif;
	    background: linear-gradient(to right, #c9d6ff, #e2e2e2);
		}

		h1 {
	    text-align: center;
	    font-size: 4vw;
	    margin: 30px 0;
		}
		
		p {
		text-align: center;
		display: display-flex;
		justify-content: center;
		margin: 30px 0;
		}
		
		input{
	    display: block;
	    margin: 10px auto;
	    padding: 20px;
	    font-size: 20px;
	    width: 40%;
		}
